<div>
  <div>
    <h1>
      List of all spots
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new spot
    </h2>

    <form action="/insert_spot" method="post">
      <div>
        <label for="region_id_box">
          Region
        </label>

        <input type="text" id="region_id_box" name="query_region_id">
      </div>

      <button>
        Create spot
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Region
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_spots.each do |a_spot| %>
      <tr>
        <td>
          <%= a_spot.id %>
        </td>

        <td>
          <%= a_spot.region_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_spot.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_spot.updated_at) %> ago
        </td>

        <td>
          <a href="/spots/<%= a_spot.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
