<div>
  <div>
    <h1>
      List of all spot offerings
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new spot offering
    </h2>

    <form action="/insert_spot_offering" method="post">
      <div>
        <label for="offering_box">
          Offering
        </label>

        <input type="text" id="offering_box" name="query_offering">
      </div>

      <button>
        Create spot offering
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Offering
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_spot_offerings.each do |a_spot_offering| %>
      <tr>
        <td>
          <%= a_spot_offering.id %>
        </td>

        <td>
          <%= a_spot_offering.offering %>
        </td>

        <td>
          <%= time_ago_in_words(a_spot_offering.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_spot_offering.updated_at) %> ago
        </td>

        <td>
          <a href="/spot_offerings/<%= a_spot_offering.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
