<div>
  <div>
    <h1>
      categories
    </h1>
  </div>
</div>

Cafes
<table>
    <% @matching_cafes.each do |a_cafe| %>
    <tr>
      <td>
        <%= Spot.where({ :id => a_cafe.spot_id}).at(0).name%>
      </td>
    </tr>
    <%end%>
</table>



Libraries
<table>
    <% @matching_libraries.each do |a_cafe| %>
    <tr>
      <td>
        <%= Spot.where({ :id => a_cafe.spot_id}).at(0).name%>
      </td>
    </tr>
    <%end%>
</table>

Hotels
<table>
    <% @matching_hotels.each do |a_cafe| %>
    <tr>
      <td>
        <%= Spot.where({ :id => a_cafe.spot_id}).at(0).name%>
      </td>
    </tr>
    <%end%>
</table>

Public Spaces
<table>
    <% @matching_public_spaces.each do |a_cafe| %>
    <tr>
      <td>
        <%= Spot.where({ :id => a_cafe.spot_id}).at(0).name%>
      </td>
    </tr>
    <%end%>
</table>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Category
        </th>

        <th>
          Spot
        </th>

        <th>
          Cafe
        </th>

        <th>
          Library
        </th>

        <th>
          Hotel
        </th>

        <th>
          Public space
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_spot_types.each do |a_spot_type| %>
      <tr>
        <td>
          <%= a_spot_type.id %>
        </td>

        <td>
          <%= a_spot_type.category_id %>
        </td>

        <td>
          <%= a_spot_type.spot_id %>
        </td>

        <td>
          <%= a_spot_type.cafe %>
        </td>

        <td>
          <%= a_spot_type.library %>
        </td>

        <td>
          <%= a_spot_type.hotel %>
        </td>

        <td>
          <%= a_spot_type.public_space %>
        </td>

        <td>
          <%= time_ago_in_words(a_spot_type.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_spot_type.updated_at) %> ago
        </td>

        <td>
          <a href="/spot_types/<%= a_spot_type.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
