<div>
  <div>
    <h1>
      Region #<%= @the_region.id %> details
    </h1>

    <div>
      <div>
        <a href="/regions">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_region/<%= @the_region.id %>">
          Delete region
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Region
      </dt>
      <dd>
        <%= @the_region.region %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_region.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_region.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit region
    </h2>

    <form action="/modify_region/<%= @the_region.id %>"  method="post" >
      <div>
        <label for="region_box">
          Region
        </label>

        <input type="text" id="region_box" name="query_region" value="<%= @the_region.region %>">
      </div>

      <button>
        Update region
      </button>
    </form>
  </div>
</div>

<hr>
